## Import Data

In [2]:
import pandas as pd
csv_df = pd.read_csv('dataset.csv', encoding='latin')
csv_df

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,positivity,positivity:confidence,relevance,relevance:confidence,articleid,date,headline,positivity_gold,relevance_gold,text
0,842613455,False,finalized,3,12/5/15 17:48,3.0,0.6400,yes,0.6400,wsj_398217788,8/14/91,Yields on CDs Fell in the Latest Week,NaN,NaN,NEW YORK -- Yields on most certificates of dep...
1,842613456,False,finalized,3,12/5/15 16:54,NaN,NaN,no,1.0000,wsj_399019502,8/21/07,The Morning Brief: White House Seeks to Limit ...,NaN,NaN,The Wall Street Journal Online</br></br>The Mo...
2,842613457,False,finalized,3,12/5/15 1:59,NaN,NaN,no,1.0000,wsj_398284048,11/14/91,Banking Bill Negotiators Set Compromise --- Pl...,NaN,NaN,WASHINGTON -- In an effort to achieve banking ...
3,842613458,False,finalized,3,12/5/15 2:19,NaN,0.0000,no,0.6750,wsj_397959018,6/16/86,Manager's Journal: Sniffing Out Drug Abusers I...,NaN,NaN,The statistics on the enormous costs of employ...
4,842613459,False,finalized,3,12/5/15 17:48,3.0,0.3257,yes,0.6400,wsj_398838054,10/4/02,Currency Trading: Dollar Remains in Tight Rang...,NaN,NaN,NEW YORK -- Indecision marked the dollar's ton...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,830985632,False,finalized,3,11/17/15 18:16,7.0,0.3511,yes,0.6641,wapo_152454634,2/11/52,"Sawyer Sees Strong Economy For 2 Years, Truce ...",NaN,NaN,Secretary of Commerce Charles W. Sawyer said y...
7996,830985633,False,finalized,3,11/18/15 8:10,NaN,NaN,no,1.0000,wapo_410349039,12/13/09,Oil's losses are airlines' gains,NaN,NaN,"U.S. stocks inched up last week, overcoming co..."
7997,830985634,False,finalized,3,11/18/15 12:12,NaN,NaN,no,1.0000,wapo_410346237,12/18/09,Full Senate to vote on Bernanke; PANEL ADVANCE...,NaN,NaN,Ben S. Bernanke cleared a key hurdle Thursday ...
7998,830985635,False,finalized,3,11/18/15 7:17,NaN,0.0000,no,0.6855,wapo_307808606,1/10/95,Reinventing Opportunities,NaN,NaN,The White House's push to contract out many fe...
7999,830985636,False,finalized,3,11/18/15 11:05,NaN,NaN,no,1.0000,wapo_143151328,4/18/67,Stocks Rise On News of Auto Output: Dow Climbs...,NaN,NaN,NEW YORK. April 17-Automobile stocks put on th...

## Extract features

In [3]:
features_list = ['headline', 'text', 'relevance']
df = csv_df[features_list]
df

,headline,text,relevance
0,Yields on CDs Fell in the Latest Week,NEW YORK -- Yields on most certificates of dep...,yes
1,The Morning Brief: White House Seeks to Limit ...,The Wall Street Journal Online</br></br>The Mo...,no
2,Banking Bill Negotiators Set Compromise --- Pl...,WASHINGTON -- In an effort to achieve banking ...,no
3,Manager's Journal: Sniffing Out Drug Abusers I...,The statistics on the enormous costs of employ...,no
4,Currency Trading: Dollar Remains in Tight Rang...,NEW YORK -- Indecision marked the dollar's ton...,yes
...,...,...,...
7995,"Sawyer Sees Strong Economy For 2 Years, Truce ...",Secretary of Commerce Charles W. Sawyer said y...,yes
7996,Oil's losses are airlines' gains,"U.S. stocks inched up last week, overcoming co...",no
7997,Full Senate to vote on Bernanke; PANEL ADVANCE...,Ben S. Bernanke cleared a key hurdle Thursday ...,no
7998,Reinventing Opportunities,The White House's push to contract out many fe...,no
7999,Stocks Rise On News of Auto Output: Dow Climbs...,NEW YORK. April 17-Automobile stocks put on th...,no

In [4]:
df.groupby('relevance').count()

           headline  text
relevance
no             6571  6571
not sure          9     9
yes            1420  1420

## remove rows with label 'not sure'

In [5]:
df1 = df[df.relevance != 'not sure']
df1

,headline,text,relevance
0,Yields on CDs Fell in the Latest Week,NEW YORK -- Yields on most certificates of dep...,yes
1,The Morning Brief: White House Seeks to Limit ...,The Wall Street Journal Online</br></br>The Mo...,no
2,Banking Bill Negotiators Set Compromise --- Pl...,WASHINGTON -- In an effort to achieve banking ...,no
3,Manager's Journal: Sniffing Out Drug Abusers I...,The statistics on the enormous costs of employ...,no
4,Currency Trading: Dollar Remains in Tight Rang...,NEW YORK -- Indecision marked the dollar's ton...,yes
...,...,...,...
7995,"Sawyer Sees Strong Economy For 2 Years, Truce ...",Secretary of Commerce Charles W. Sawyer said y...,yes
7996,Oil's losses are airlines' gains,"U.S. stocks inched up last week, overcoming co...",no
7997,Full Senate to vote on Bernanke; PANEL ADVANCE...,Ben S. Bernanke cleared a key hurdle Thursday ...,no
7998,Reinventing Opportunities,The White House's push to contract out many fe...,no
7999,Stocks Rise On News of Auto Output: Dow Climbs...,NEW YORK. April 17-Automobile stocks put on th...,no

### convert yes/no to numeric values

In [7]:
# map yes/no to 0 or 1
map_labels = {'yes':1, 'no': 0}
# news_df['relevance'] = news_df['relevance'].apply(map_labels) # why does this not work??
# df2 = news_df['relevance'].map(map_labels)
# news_df.loc[:,news_df['relevance'].replace(to_replace=['no','not sure', 'yes'], value=[0, 0.5, 1])]
# df2
# df['Discounted_Price'] = df['Cost'] - (0.1 * df['Cost']) 
df1.loc[:,'relevance_point'] = df1['relevance'].map(map_labels)
df1

,headline,text,relevance,relevance_point
0,Yields on CDs Fell in the Latest Week,NEW YORK -- Yields on most certificates of dep...,yes,1
1,The Morning Brief: White House Seeks to Limit ...,The Wall Street Journal Online</br></br>The Mo...,no,0
2,Banking Bill Negotiators Set Compromise --- Pl...,WASHINGTON -- In an effort to achieve banking ...,no,0
3,Manager's Journal: Sniffing Out Drug Abusers I...,The statistics on the enormous costs of employ...,no,0
4,Currency Trading: Dollar Remains in Tight Rang...,NEW YORK -- Indecision marked the dollar's ton...,yes,1
...,...,...,...,...
7995,"Sawyer Sees Strong Economy For 2 Years, Truce ...",Secretary of Commerce Charles W. Sawyer said y...,yes,1
7996,Oil's losses are airlines' gains,"U.S. stocks inched up last week, overcoming co...",no,0
7997,Full Senate to vote on Bernanke; PANEL ADVANCE...,Ben S. Bernanke cleared a key hurdle Thursday ...,no,0
7998,Reinventing Opportunities,The White House's push to contract out many fe...,no,0
7999,Stocks Rise On News of Auto Output: Dow Climbs...,NEW YORK. April 17-Automobile stocks put on th...,no,0

#### reset index
observe above that the indices indicated in df1 goes from 0-7999 whereas it should go 0-7990. This problem actually resulted in NaN while concatenation done later.

In [8]:
df1.reset_index(drop=True, inplace=True)
df1

,headline,text,relevance,relevance_point
0,Yields on CDs Fell in the Latest Week,NEW YORK -- Yields on most certificates of dep...,yes,1
1,The Morning Brief: White House Seeks to Limit ...,The Wall Street Journal Online</br></br>The Mo...,no,0
2,Banking Bill Negotiators Set Compromise --- Pl...,WASHINGTON -- In an effort to achieve banking ...,no,0
3,Manager's Journal: Sniffing Out Drug Abusers I...,The statistics on the enormous costs of employ...,no,0
4,Currency Trading: Dollar Remains in Tight Rang...,NEW YORK -- Indecision marked the dollar's ton...,yes,1
...,...,...,...,...
7986,"Sawyer Sees Strong Economy For 2 Years, Truce ...",Secretary of Commerce Charles W. Sawyer said y...,yes,1
7987,Oil's losses are airlines' gains,"U.S. stocks inched up last week, overcoming co...",no,0
7988,Full Senate to vote on Bernanke; PANEL ADVANCE...,Ben S. Bernanke cleared a key hurdle Thursday ...,no,0
7989,Reinventing Opportunities,The White House's push to contract out many fe...,no,0
7990,Stocks Rise On News of Auto Output: Dow Climbs...,NEW YORK. April 17-Automobile stocks put on th...,no,0

## join headline and text

In [9]:
df1.loc[:,'all_text'] = df1['headline'] + ' ' + df1['text']
df1

,headline,text,relevance,relevance_point,all_text
0,Yields on CDs Fell in the Latest Week,NEW YORK -- Yields on most certificates of dep...,yes,1,Yields on CDs Fell in the Latest Week NEW YORK...
1,The Morning Brief: White House Seeks to Limit ...,The Wall Street Journal Online</br></br>The Mo...,no,0,The Morning Brief: White House Seeks to Limit ...
2,Banking Bill Negotiators Set Compromise --- Pl...,WASHINGTON -- In an effort to achieve banking ...,no,0,Banking Bill Negotiators Set Compromise --- Pl...
3,Manager's Journal: Sniffing Out Drug Abusers I...,The statistics on the enormous costs of employ...,no,0,Manager's Journal: Sniffing Out Drug Abusers I...
4,Currency Trading: Dollar Remains in Tight Rang...,NEW YORK -- Indecision marked the dollar's ton...,yes,1,Currency Trading: Dollar Remains in Tight Rang...
...,...,...,...,...,...
7986,"Sawyer Sees Strong Economy For 2 Years, Truce ...",Secretary of Commerce Charles W. Sawyer said y...,yes,1,"Sawyer Sees Strong Economy For 2 Years, Truce ..."
7987,Oil's losses are airlines' gains,"U.S. stocks inched up last week, overcoming co...",no,0,Oil's losses are airlines' gains U.S. stocks i...
7988,Full Senate to vote on Bernanke; PANEL ADVANCE...,Ben S. Bernanke cleared a key hurdle Thursday ...,no,0,Full Senate to vote on Bernanke; PANEL ADVANCE...
7989,Reinventing Opportunities,The White House's push to contract out many fe...,no,0,Reinventing Opportunities The White House's pu...
7990,Stocks Rise On News of Auto Output: Dow Climbs...,NEW YORK. April 17-Automobile stocks put on th...,no,0,Stocks Rise On News of Auto Output: Dow Climbs...

In [10]:
sample_text = df1.loc[4016,'all_text']
sample_text

"Farewell Blast For a Hotel In Pittsburgh A \x89Û÷\x89Û÷controlled implosion\x89Û\x9d (top) begins to crumble the 16-story Carlton House Hotel in downtown Pittsburgh Saturday morning. The 28-vear-old building is being razed to make way for Renaissance II, the second phase of a major redevelopment of the city. Thick smoke billows from the building (center) as more than 1,000 explosive charges do their work. Seven seconds after it began, the demolition is completed (bottom). Construction of a 52-story office building has been proposed in place of the hotel, where former Soviet Premier Khrushchev stayed while visiting the city during his tour of the United States in 1959.</br></br>ROANOKE (UPI)\x89ÛÓIndustry analysts believe recent labor unrest and other problems in Poland, South Africa and Australia may lead foreign coal buyers to depend more heavily on the United States than in recent years.</br></br>Poland\x89Ûªs labor changes, racial unrest in South Africa and a major miners\x89Ûª strike in Australia\x89ÛÓthe world\x89Ûªs three largest coal exporters behind the United States\x89ÛÓare spreading the he-' lief that the United States may be t he most stable source of coal, analysts' said.</br></br>\x89ÛÏThe United States\x89Ûª image as a coal supplier has made a big comeback. Our problems are beginning to pale in com-parispn (with other coal exporters),\x89Û\x9d said Jack Kawa, a coal analyst with. Wheat, First Securities.</br></br>\x89ÛÏThe outlook for I he U.S. export is getting stronger and stronger as the world turns to coal. Customers are turning towards American coal,\x89Û\x9d ho said."

In [11]:
df1[df1['all_text'].str.contains("aadvantag")].all_text

Series([], Name: all_text, dtype: object)

## Text processing

### remove tags

In [12]:
from bs4 import BeautifulSoup
def remove_tags(text):
    cleantext = BeautifulSoup(text, "lxml").text
    return cleantext

In [13]:
sample_text1 = remove_tags(sample_text)
sample_text1

"Farewell Blast For a Hotel In Pittsburgh A \x89Û÷\x89Û÷controlled implosion\x89Û\x9d (top) begins to crumble the 16-story Carlton House Hotel in downtown Pittsburgh Saturday morning. The 28-vear-old building is being razed to make way for Renaissance II, the second phase of a major redevelopment of the city. Thick smoke billows from the building (center) as more than 1,000 explosive charges do their work. Seven seconds after it began, the demolition is completed (bottom). Construction of a 52-story office building has been proposed in place of the hotel, where former Soviet Premier Khrushchev stayed while visiting the city during his tour of the United States in 1959.ROANOKE (UPI)\x89ÛÓIndustry analysts believe recent labor unrest and other problems in Poland, South Africa and Australia may lead foreign coal buyers to depend more heavily on the United States than in recent years.Poland\x89Ûªs labor changes, racial unrest in South Africa and a major miners\x89Ûª strike in Australia\x89ÛÓthe world\x89Ûªs three largest coal exporters behind the United States\x89ÛÓare spreading the he-' lief that the United States may be t he most stable source of coal, analysts' said.\x89ÛÏThe United States\x89Ûª image as a coal supplier has made a big comeback. Our problems are beginning to pale in com-parispn (with other coal exporters),\x89Û\x9d said Jack Kawa, a coal analyst with. Wheat, First Securities.\x89ÛÏThe outlook for I he U.S. export is getting stronger and stronger as the world turns to coal. Customers are turning towards American coal,\x89Û\x9d ho said."

### expand contractions
- contaractions are words that are clubbed together in natural english, e.g. wouldn't, it's etc.
- for our text, the punctuations used in contractions (like single quote) do not show up as it is.
- I looked up the data to recognize these patterns and substitute them with valid puctuations

In [14]:
import re
def process_single_quote(text):
    text = text.replace('\x89Ûª', '\'')
    return text
    
sample_text2 = process_single_quote(sample_text1)
# sample_text1.replace('‰Ûª', '\'')
# sample_text2 = re.sub(r"\x89Ûª", "'", sample_text1)
sample_text2

"Farewell Blast For a Hotel In Pittsburgh A \x89Û÷\x89Û÷controlled implosion\x89Û\x9d (top) begins to crumble the 16-story Carlton House Hotel in downtown Pittsburgh Saturday morning. The 28-vear-old building is being razed to make way for Renaissance II, the second phase of a major redevelopment of the city. Thick smoke billows from the building (center) as more than 1,000 explosive charges do their work. Seven seconds after it began, the demolition is completed (bottom). Construction of a 52-story office building has been proposed in place of the hotel, where former Soviet Premier Khrushchev stayed while visiting the city during his tour of the United States in 1959.ROANOKE (UPI)\x89ÛÓIndustry analysts believe recent labor unrest and other problems in Poland, South Africa and Australia may lead foreign coal buyers to depend more heavily on the United States than in recent years.Poland's labor changes, racial unrest in South Africa and a major miners' strike in Australia\x89ÛÓthe world's three largest coal exporters behind the United States\x89ÛÓare spreading the he-' lief that the United States may be t he most stable source of coal, analysts' said.\x89ÛÏThe United States' image as a coal supplier has made a big comeback. Our problems are beginning to pale in com-parispn (with other coal exporters),\x89Û\x9d said Jack Kawa, a coal analyst with. Wheat, First Securities.\x89ÛÏThe outlook for I he U.S. export is getting stronger and stronger as the world turns to coal. Customers are turning towards American coal,\x89Û\x9d ho said."

In [15]:
import re

def decontract(phrase):
    # specific
    phrase = re.sub(r"won\'t", "would not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

In [16]:
sample_text3 = decontract(sample_text2)
sample_text3

"Farewell Blast For a Hotel In Pittsburgh A \x89Û÷\x89Û÷controlled implosion\x89Û\x9d (top) begins to crumble the 16-story Carlton House Hotel in downtown Pittsburgh Saturday morning. The 28-vear-old building is being razed to make way for Renaissance II, the second phase of a major redevelopment of the city. Thick smoke billows from the building (center) as more than 1,000 explosive charges do their work. Seven seconds after it began, the demolition is completed (bottom). Construction of a 52-story office building has been proposed in place of the hotel, where former Soviet Premier Khrushchev stayed while visiting the city during his tour of the United States in 1959.ROANOKE (UPI)\x89ÛÓIndustry analysts believe recent labor unrest and other problems in Poland, South Africa and Australia may lead foreign coal buyers to depend more heavily on the United States than in recent years.Poland is labor changes, racial unrest in South Africa and a major miners' strike in Australia\x89ÛÓthe world is three largest coal exporters behind the United States\x89ÛÓare spreading the he-' lief that the United States may be t he most stable source of coal, analysts' said.\x89ÛÏThe United States' image as a coal supplier has made a big comeback. Our problems are beginning to pale in com-parispn (with other coal exporters),\x89Û\x9d said Jack Kawa, a coal analyst with. Wheat, First Securities.\x89ÛÏThe outlook for I he U.S. export is getting stronger and stronger as the world turns to coal. Customers are turning towards American coal,\x89Û\x9d ho said."

### remove punctuation

In [17]:
import string
import re

punctuation = string.punctuation
def remove_punctuation(text):
#     return text.translate(str.maketrans(' ', ' ', string.punctuation))
#     translator = re.compile('[%s]' % re.escape(string.punctuation))
#     translator.sub(' ', text)
#     re.sub(punctuation, " ", text)
    return re.sub(r'[^a-zA-Z]',' ',text)
#     return text

In [18]:
punctuation = string.punctuation
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [19]:
remove_punctuation(sample_text)

'Farewell Blast For a Hotel In Pittsburgh A       controlled implosion     top  begins to crumble the    story Carlton House Hotel in downtown Pittsburgh Saturday morning  The    vear old building is being razed to make way for Renaissance II  the second phase of a major redevelopment of the city  Thick smoke billows from the building  center  as more than       explosive charges do their work  Seven seconds after it began  the demolition is completed  bottom   Construction of a    story office building has been proposed in place of the hotel  where former Soviet Premier Khrushchev stayed while visiting the city during his tour of the United States in        br   br ROANOKE  UPI    Industry analysts believe recent labor unrest and other problems in Poland  South Africa and Australia may lead foreign coal buyers to depend more heavily on the United States than in recent years   br   br Poland   s labor changes  racial unrest in South Africa and a major miners    strike in Australia   the world   s three largest coal exporters behind the United States   are spreading the he   lief that the United States may be t he most stable source of coal  analysts  said   br   br    The United States    image as a coal supplier has made a big comeback  Our problems are beginning to pale in com parispn  with other coal exporters      said Jack Kawa  a coal analyst with  Wheat  First Securities   br   br    The outlook for I he U S  export is getting stronger and stronger as the world turns to coal  Customers are turning towards American coal     ho said '

In [20]:
sample_text4 = remove_punctuation(sample_text3)
sample_text4

'Farewell Blast For a Hotel In Pittsburgh A       controlled implosion     top  begins to crumble the    story Carlton House Hotel in downtown Pittsburgh Saturday morning  The    vear old building is being razed to make way for Renaissance II  the second phase of a major redevelopment of the city  Thick smoke billows from the building  center  as more than       explosive charges do their work  Seven seconds after it began  the demolition is completed  bottom   Construction of a    story office building has been proposed in place of the hotel  where former Soviet Premier Khrushchev stayed while visiting the city during his tour of the United States in      ROANOKE  UPI    Industry analysts believe recent labor unrest and other problems in Poland  South Africa and Australia may lead foreign coal buyers to depend more heavily on the United States than in recent years Poland is labor changes  racial unrest in South Africa and a major miners  strike in Australia   the world is three largest coal exporters behind the United States   are spreading the he   lief that the United States may be t he most stable source of coal  analysts  said    The United States  image as a coal supplier has made a big comeback  Our problems are beginning to pale in com parispn  with other coal exporters      said Jack Kawa  a coal analyst with  Wheat  First Securities    The outlook for I he U S  export is getting stronger and stronger as the world turns to coal  Customers are turning towards American coal     ho said '

### remove numbers

In [21]:
# we don't require numbers or other figures
def isNumber(token):
    result = token.isnumeric()
    return result

### remove more than 1 space

In [22]:
def remove_more_than_single_space(text):
    return ' '.join(text.split())

In [23]:
sample_text5 = remove_more_than_single_space(sample_text4)
sample_text5

'Farewell Blast For a Hotel In Pittsburgh A controlled implosion top begins to crumble the story Carlton House Hotel in downtown Pittsburgh Saturday morning The vear old building is being razed to make way for Renaissance II the second phase of a major redevelopment of the city Thick smoke billows from the building center as more than explosive charges do their work Seven seconds after it began the demolition is completed bottom Construction of a story office building has been proposed in place of the hotel where former Soviet Premier Khrushchev stayed while visiting the city during his tour of the United States in ROANOKE UPI Industry analysts believe recent labor unrest and other problems in Poland South Africa and Australia may lead foreign coal buyers to depend more heavily on the United States than in recent years Poland is labor changes racial unrest in South Africa and a major miners strike in Australia the world is three largest coal exporters behind the United States are spreading the he lief that the United States may be t he most stable source of coal analysts said The United States image as a coal supplier has made a big comeback Our problems are beginning to pale in com parispn with other coal exporters said Jack Kawa a coal analyst with Wheat First Securities The outlook for I he U S export is getting stronger and stronger as the world turns to coal Customers are turning towards American coal ho said'

### stem text

In [25]:
import nltk
nltk.download('punkt')

from nltk.stem import PorterStemmer
from nltk import word_tokenize


stemmer = PorterStemmer()

def stem_sentence(text):
#     text2 = remove_tags(text) # tags must be removed first, so that punctuation is not removed
#     text3 = remove_punctuation(text2)
    tokens = word_tokenize(text)
    stemmed_tokens = [stemmer.stem(token) for token in tokens if not isNumber(token)] # skip numbers
    stemmed_sentence = ' '.join(stemmed_tokens)
    return stemmed_sentence

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\amita_shukla\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

### leammatize text

In [26]:
import nltk
nltk.download('wordnet')

from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize

wnl = WordNetLemmatizer()

def lemmatize_sentence(text):
    tokens = word_tokenize(text)
    lemmatized_tokens = [wnl.lemmatize(token) for token in tokens if not isNumber(token)]
    lemmatized_sentence = ' '.join(lemmatized_tokens)
    return lemmatized_sentence

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\amita_shukla\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

### run all processing

In [27]:
def process_all(text):
    text = remove_tags(text)
    text = process_single_quote(text)
    text = decontract(text)
    text = remove_punctuation(text)
    text = remove_more_than_single_space(text)
    text = text.lower()
    text = stem_sentence(text)
#     text = lemmatize_sentence(text)
    return text

In [29]:
# df2 = df1['all_text'].apply(stem_sentence)
df1.loc[:,'all_text'] = df1['all_text'].apply(process_all)
df1

,headline,text,relevance,relevance_point,all_text
0,Yields on CDs Fell in the Latest Week,NEW YORK -- Yields on most certificates of dep...,yes,1,yield on cd fell in the latest week new york y...
1,The Morning Brief: White House Seeks to Limit ...,The Wall Street Journal Online</br></br>The Mo...,no,0,the morn brief white hou seek to limit child i...
2,Banking Bill Negotiators Set Compromise --- Pl...,WASHINGTON -- In an effort to achieve banking ...,no,0,bank bill negoti set compromi plan to widen ba...
3,Manager's Journal: Sniffing Out Drug Abusers I...,The statistics on the enormous costs of employ...,no,0,manag is journal snif out drug abu is no quick...
4,Currency Trading: Dollar Remains in Tight Rang...,NEW YORK -- Indecision marked the dollar's ton...,yes,1,currenc trade dollar remain in tight rang amid...
...,...,...,...,...,...
7986,"Sawyer Sees Strong Economy For 2 Years, Truce ...",Secretary of Commerce Charles W. Sawyer said y...,yes,1,sawyer see strong economi for year truce or no...
7987,Oil's losses are airlines' gains,"U.S. stocks inched up last week, overcoming co...",no,0,oil is loss are airlin gain u s stock inch up ...
7988,Full Senate to vote on Bernanke; PANEL ADVANCE...,Ben S. Bernanke cleared a key hurdle Thursday ...,no,0,full senat to vote on bernank panel advanc ren...
7989,Reinventing Opportunities,The White House's push to contract out many fe...,no,0,reinvent opportun the white hou is push to con...
7990,Stocks Rise On News of Auto Output: Dow Climbs...,NEW YORK. April 17-Automobile stocks put on th...,no,0,stock rise on news of auto output dow climb po...

In [260]:
# print(df1.loc[1:20,'all_text']) # before

In [261]:
# print(df1.loc[1:20,'all_text']) # after

In [30]:
sample_text

"Farewell Blast For a Hotel In Pittsburgh A \x89Û÷\x89Û÷controlled implosion\x89Û\x9d (top) begins to crumble the 16-story Carlton House Hotel in downtown Pittsburgh Saturday morning. The 28-vear-old building is being razed to make way for Renaissance II, the second phase of a major redevelopment of the city. Thick smoke billows from the building (center) as more than 1,000 explosive charges do their work. Seven seconds after it began, the demolition is completed (bottom). Construction of a 52-story office building has been proposed in place of the hotel, where former Soviet Premier Khrushchev stayed while visiting the city during his tour of the United States in 1959.</br></br>ROANOKE (UPI)\x89ÛÓIndustry analysts believe recent labor unrest and other problems in Poland, South Africa and Australia may lead foreign coal buyers to depend more heavily on the United States than in recent years.</br></br>Poland\x89Ûªs labor changes, racial unrest in South Africa and a major miners\x89Ûª strike in Australia\x89ÛÓthe world\x89Ûªs three largest coal exporters behind the United States\x89ÛÓare spreading the he-' lief that the United States may be t he most stable source of coal, analysts' said.</br></br>\x89ÛÏThe United States\x89Ûª image as a coal supplier has made a big comeback. Our problems are beginning to pale in com-parispn (with other coal exporters),\x89Û\x9d said Jack Kawa, a coal analyst with. Wheat, First Securities.</br></br>\x89ÛÏThe outlook for I he U.S. export is getting stronger and stronger as the world turns to coal. Customers are turning towards American coal,\x89Û\x9d ho said."

In [31]:
df1.loc[4016,'all_text'] # with stemming # DO NOT RUN THIS CELL

'farewel blast for a hotel in pittsburgh a control implo top begin to crumbl the stori carlton hou hotel in downtown pittsburgh saturday morn the vear old build is be raze to make way for renaiss ii the second phase of a major redevelop of the citi thick smoke billow from the build center as more than explo charg do their work seven second after it began the demolit is complet bottom construct of a stori offic build ha been propo in place of the hotel where former soviet premier khrushchev stay while visit the citi dure hi tour of the unit state in roanok upi industri analyst believ recent labor unrest and other problem in poland south africa and australia may lead foreign coal buyer to depend more heavili on the unit state than in recent year poland is labor chang racial unrest in south africa and a major miner strike in australia the world is three largest coal export behind the unit state are spread the he lief that the unit state may be t he most stabl sourc of coal analyst said the unit state imag as a coal supplier ha made a big comeback our problem are begin to pale in com parispn with other coal export said jack kawa a coal analyst with wheat first secur the outlook for i he u s export is get stronger and stronger as the world turn to coal custom are turn toward american coal ho said'

In [262]:
df1.loc[4008,'all_text'] # with lemmatization # DO NOT RUN THIS CELL

'staying ahead because of the stock market crash are you rethinking whether to use a discount broker many discounter customer think they did not distinguish themselves in the crisis frantic investor jammed the telephone wire of the big national discounter such a charles schwab co and got busy signal although thousand of customer got through thousand more could not reach their broker a a result they could not sell stock that were going down or buy stock that looked to them like bargain a certain number of busy signal were inevitable given a million share day like black monday but scott staps a spokesman for the north american security administrator association nasaa said we have heard of extreme case where people could not get through to their broker for five to seven day the nasaa ha set up a toll free telephone number to receive post crash complaint about broker both discounter and full service firm by friday dec it hadsome smaller full service firm have been accused of deliberately not answering then phone to avoid taking sell order in the stock of risky company they had brought public'

## Vectorize Text

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words='english')
x = vectorizer.fit_transform(df1['all_text'])
x
# arr = x.toarray()
# arr

<7991x28100 sparse matrix of type '<class 'numpy.float64'>'
	with 757768 stored elements in Compressed Sparse Row format>

In [78]:
# x.shape # before

(7991, 44911)

In [264]:
x.shape #after # with lemmatizer. hmmm more number of columns than stemming

(7991, 37121)

In [33]:
x.shape # after # with stemming.

(7991, 28100)

In [34]:
# vectorizer.get_feature_names()[42050:42060]
vectorizer.get_feature_names()[24000:26000]

['surnam',
 'surpass',
 'surpassingli',
 'surpju',
 'surplu',
 'surpri',
 'surprisingli',
 'surrend',
 'surrept',
 'surri',
 'surrog',
 'surround',
 'surtax',
 'surveil',
 'survey',
 'surveyor',
 'surveythi',
 'survi',
 'surviv',
 'survivor',
 'susan',
 'suscept',
 'sushi',
 'susi',
 'suskind',
 'suspect',
 'suspen',
 'suspend',
 'suspici',
 'suspicion',
 'sussman',
 'sustain',
 'susten',
 'sutam',
 'sutherland',
 'sutton',
 'suv',
 'suzann',
 'sv',
 'svbron',
 'svdt',
 'svelt',
 'svmpathv',
 'sw',
 'swage',
 'swagel',
 'swagger',
 'swain',
 'swallow',
 'swami',
 'swaminathan',
 'swamp',
 'swan',
 'swanit',
 'swanki',
 'swann',
 'swanson',
 'swap',
 'swaption',
 'swarm',
 'swashbuckl',
 'swat',
 'swath',
 'sway',
 'swaziland',
 'swear',
 'swearingen',
 'swearword',
 'sweat',
 'sweater',
 'sweatshop',
 'sweatsuit',
 'swede',
 'sweden',
 'swedish',
 'sweeney',
 'sweep',
 'sweepstak',
 'sweet',
 'sweeten',
 'sweeter',
 'sweetheart',
 'swell',
 'swelter',
 'swept',
 'swerv',
 'swift',
 'swifter',
 'swiftest',
 'swiftli',
 'swim',
 'swindl',
 'swing',
 'swinglin',
 'swink',
 'swinton',
 'swipe',
 'swirl',
 'swiss',
 'switch',
 'switchboard',
 'switcher',
 'switzerland',
 'switzerlnd',
 'swivel',
 'swollen',
 'swonk',
 'swoon',
 'swoop',
 'sword',
 'swore',
 'sworn',
 'swpi',
 'swung',
 'sy',
 'syba',
 'sycamor',
 'sycoph',
 'sydney',
 'sykesvil',
 'sylvest',
 'sym',
 'symbiot',
 'symbol',
 'symington',
 'symmetr',
 'sympath',
 'sympathet',
 'sympathi',
 'symphoni',
 'symposium',
 'symposiumopen',
 'symptom',
 'symptomat',
 'sympton',
 'synagogu',
 'synar',
 'sync',
 'synchron',
 'syndic',
 'syndrom',
 'synergi',
 'synergist',
 'synfuel',
 'synonym',
 'synopsi',
 'syntcx',
 'syntex',
 'synth',
 'synthesi',
 'synthet',
 'syquest',
 'syracu',
 'syria',
 'syrian',
 'syron',
 'syru',
 'syrup',
 'systemat',
 'szadurski',
 'szent',
 'ta',
 'taaxd',
 'tab',
 'tabak',
 'taber',
 'tabl',
 'tableau',
 'tablet',
 'tabletop',
 'tablish',
 'taboo',
 'tabor',
 'tabul',
 'tach',
 'tacit',
 'tacitli',
 'tack',
 'tackl',
 'tact',
 'tactic',
 'taction',
 'tad',
 'tadawul',
 'tadic',
 'tae',
 'taft',
 'tag',
 'tage',
 'taho',
 'tahrir',
 'tai',
 'taichi',
 'taiex',
 'tail',
 'tailback',
 'tailer',
 'tailor',
 'tailoriiij',
 'tailpip',
 'tailspin',
 'tain',
 'taint',
 'taipei',
 'taiwan',
 'tak',
 'takahid',
 'takashi',
 'takeaway',
 'taken',
 'takenaka',
 'takeoff',
 'takeov',
 'takeovermost',
 'taker',
 'takeshita',
 'taketh',
 'takoma',
 'tal',
 'talal',
 'talbot',
 'talc',
 'talcott',
 'tale',
 'talent',
 'talf',
 'taliban',
 'talisman',
 'talk',
 'talki',
 'talkof',
 'talksintend',
 'tall',
 'tallahass',
 'taller',
 'talley',
 'talleycor',
 'tallgrass',
 'talli',
 'talmadg',
 'talmud',
 'talso',
 'tam',
 'tamal',
 'tamar',
 'tamaulipa',
 'tambomino',
 'tame',
 'tamer',
 'tamp',
 'tampa',
 'tamper',
 'tan',
 'tancredo',
 'tandem',
 'tang',
 'tangenti',
 'tangi',
 'tangibl',
 'tangl',
 'tanglesom',
 'tango',
 'tanigaki',
 'tank',
 'tanker',
 'tannin',
 'tant',
 'tantal',
 'tantamount',
 'tap',
 'tape',
 'taper',
 'tapestri',
 'tapp',
 'tar',
 'tara',
 'taratec',
 'tardi',
 'tardio',
 'taregt',
 'targ',
 'target',
 'targtet',
 'tari',
 'taric',
 'tariff',
 'tarkenton',
 'tarkington',
 'tarkovski',
 'tarnish',
 'taro',
 'tarp',
 'tarranc',
 'tarrytown',
 'tarullo',
 'taschen',
 'taser',
 'tashjian',
 'task',
 'tasr',
 'tast',
 'tasteof',
 'tat',
 'tata',
 'tate',
 'tatiana',
 'tation',
 'tatlock',
 'tatter',
 'tattoo',
 'tatum',
 'tatyana',
 'taught',
 'taunt',
 'tauru',
 'taut',
 'tavern',
 'tax',
 'taxabl',
 'taxachusett',
 'taxat',
 'taxh',
 'taxi',
 'taxin',
 'taxj',
 'taxpay',
 'taxreject',
 'taxwrit',
 'taylo',
 'taylor',
 'taylorw',
 'tb',
 'tbe',
 'tbel',
 'tbiskwa',
 'tbk',
 'tbmle',
 'tc',
 'tca',
 'tci',
 'tclociyn',
 'tcommerci',
 'tcrffljeconom',
 'tcx',
 'td',
 'tdasjjmgton',
 'tdlai',
 'te',
 'tea',
 'teabagg',
 'teach',
 'teachabl',
 'teacher',
 'teacli',
 'teacup',
 'team',
 'teammat',
 'teamster',
 'teapot',
 'tear',
 'teari',
 'teaser',
 'tebe',
 'tec',
 'tecap',
 'tech',
 'techi',
 'technic',
 'technician',
 'techniqu',
 'techno',
 'technobabbl',
 'technocrat',
 'technol',
 'technolog',
 'technometrica',
 'techsniff',
 'techspick',
 'tect',
 'tectionist',
 'ted',
 'tediou',
 'tedium',
 'tee',
 'teed',
 'teeh',
 'teehnirpio',
 'teem',
 'teen',
 'teenag',
 'teeni',
 'teerci',
 'teeter',
 'teeth',
 'teflon',
 'tefra',
 'teg',
 'tehachapi',
 'teher',
 'tehran',
 'teichner',
 'teil',
 'tej',
 'tek',
 'tel',
 'telautograph',
 'telc',
 'telcclvno',
 'tele',
 'telecast',
 'telecom',
 'telecommun',
 'telecommut',
 'teleconf',
 'telecontrol',
 'telecorp',
 'teledyn',
 'telefono',
 'telegen',
 'teleglob',
 'telegram',
 'telegraph',
 'telejgijpjn',
 'telekom',
 'telemarket',
 'telemundo',
 'telenor',
 'telephon',
 'telephoni',
 'telescript',
 'telesi',
 'televi',
 'telework',
 'telex',
 'telfainistr',
 'tell',
 'tellab',
 'tellectu',
 'teller',
 'tellingli',
 'telltal',
 'telopha',
 'tem',
 'tember',
 'temferatur',
 'temnn',
 'temp',
 'tempelhof',
 'temper',
 'tempera',
 'temperatur',
 'tempest',
 'tempestu',
 'templ',
 'templat',
 'templeton',
 'templetor',
 'tempo',
 'tempor',
 'temporari',
 'temporarili',
 'tempt',
 'temptat',
 'tenac',
 'tenaci',
 'tenant',
 'tend',
 'tendenc',
 'tendenti',
 'tender',
 'tenderb',
 'tendon',
 'tenet',
 'tenfold',
 'tenil',
 'tenkowski',
 'tenn',
 'tenna',
 'tenneco',
 'tenness',
 'tenney',
 'tenni',
 'tenor',
 'tenpa',
 'tension',
 'tent',
 'tentacl',
 'tenterhook',
 'tenth',
 'tential',
 'tenuou',
 'tenur',
 'tepid',
 'tepidli',
 'ter',
 'terday',
 'tere',
 'terenc',
 'terest',
 'terim',
 'terlep',
 'term',
 'termag',
 'termica',
 'termin',
 'terminolog',
 'termit',
 'tern',
 'terr',
 'terra',
 'terrac',
 'terrain',
 'terranc',
 'terrapin',
 'terrenc',
 'terresti',
 'terrestri',
 'terri',
 'terribl',
 'terrif',
 'terrifi',
 'territori',
 'terror',
 'terrorist',
 'terryl',
 'tertiari',
 'tesco',
 'tesla',
 'tesoro',
 'tess',
 'test',
 'testament',
 'testi',
 'testicular',
 'testifi',
 'testimoni',
 'tetangco',
 'tether',
 'teton',
 'tetsuo',
 'tettuc',
 'teup',
 'tew',
 'tex',
 'texa',
 'texaco',
 'texan',
 'text',
 'textbook',
 'textil',
 'textron',
 'textual',
 'textur',
 'tf',
 'tfactori',
 'tfce',
 'tfe',
 'tfi',
 'tfie',
 'tfieir',
 'tfoi',
 'tftii',
 'tftp',
 'tg',
 'tgood',
 'th',
 'tha',
 'thabo',
 'thackeray',
 'thad',
 'thade',
 'thagainst',
 'thai',
 'thailand',
 'thairaund',
 'thaksin',
 'thal',
 'thalmann',
 'thanj',
 'thank',
 'thankless',
 'thanksgiv',
 'thanreaganom',
 'thanretail',
 'thao',
 'thart',
 'thatbut',
 'thatcher',
 'thatcherit',
 'thateventu',
 'thati',
 'thatj',
 'thatrec',
 'thatright',
 'thatth',
 'thatxth',
 'thau',
 'thaw',
 'thayer',
 'thayersan',
 'thc',
 'thcr',
 'thcremain',
 'thd',
 'thea',
 'theaccount',
 'theanalyst',
 'theater',
 'theatr',
 'theatric',
 'thebrok',
 'thebureauof',
 'thecompani',
 'thed',
 'thedefin',
 'thediscount',
 'thedynalectron',
 'theeconomi',
 'thefed',
 'theft',
 'theglob',
 'thegovern',
 'thegreat',
 'theher',
 'thei',
 'theie',
 'theii',
 'theimport',
 'thein',
 'theinextr',
 'theistock',
 'theith',
 'thej',
 'thejanuari',
 'thejun',
 'thel',
 'thelbig',
 'theless',
 'thelma',
 'themassacr',
 'themat',
 'theme',
 'themmor',
 'themor',
 'themselv',
 'thenam',
 'theo',
 'theobald',
 'theodor',
 'theolog',
 'theologian',
 'theorem',
 'theoret',
 'theoretician',
 'theori',
 'theorist',
 'theoriz',
 'theotlici',
 'theplo',
 'thepresid',
 'theprevi',
 'ther',
 'theragen',
 'therapi',
 'therapist',
 'thereabout',
 'thereaft',
 'therebi',
 'therefor',
 'thereof',
 'therepublican',
 'theresa',
 'thermal',
 'thermidor',
 'thermodynam',
 'thermomet',
 'thert',
 'thesda',
 'thesea',
 'thesepark',
 'thesi',
 'thesom',
 'thespian',
 'thestreet',
 'thet',
 'thetb',
 'theteimeco',
 'theth',
 'thetho',
 'thetpro',
 'thetreasuri',
 'theturn',
 'thewal',
 'thewestern',
 'thewhat',
 'thewithout',
 'thewomen',
 'theyear',
 'theyexpect',
 'theyknow',
 'theyth',
 'thfc',
 'thfce',
 'thfe',
 'thfeir',
 'thfey',
 'thg',
 'thh',
 'thi',
 'thicken',
 'thicket',
 'thickf',
 'thie',
 'thief',
 'thierri',
 'thiev',
 'thigh',
 'thiminesch',
 'thing',
 'think',
 'thinker',
 'thinkquest',
 'thinli',
 'thinner',
 'thiokol',
 'thirc',
 'thirdheaviest',
 'thirdparti',
 'thirdquart',
 'thirdsnet',
 'thirst',
 'thirsti',
 'thirteen',
 'thirti',
 'thirtieth',
 'thisf',
 'thisinfl',
 'thisit',
 'thisront',
 'thisth',
 'thitrstlni',
 'thk',
 'thkngebf',
 'thl',
 'thlfe',
 'thnfc',
 'tho',
 'thom',
 'thoma',
 'thomasvil',
 'thompson',
 'thomson',
 'thoppil',
 'thoppilbangalor',
 'thoriti',
 'thorley',
 'thorn',
 'thornburg',
 'thornburgh',
 'thorni',
 'thorniest',
 'thornton',
 'thorough',
 'thoroughbr',
 'thoroughfar',
 'thoroughli',
 'thoroughout',
 'thorp',
 'thorstein',
 'thotfilih',
 'thought',
 'thoughtless',
 'thougli',
 'thousand',
 'thp',
 'thpjjxon',
 'thqj',
 'thqlast',
 'thrall',
 'thrash',
 'thre',
 'thread',
 'threadbar',
 'threat',
 'threaten',
 'thredgold',
 'threefold',
 'threejfi',
 'threemonth',
 'threenewspap',
 'threesom',
 'thresh',
 'thresher',
 'threshold',
 'threw',
 'thrice',
 'thrift',
 'thrifti',
 'thrill',
 'thrilla',
 'thriller',
 'thrive',
 'throat',
 'throckmorton',
 'throe',
 'throne',
 'throng',
 'throttl',
 'throw',
 'throwaway',
 'throwback',
 'thrown',
 'thrum',
 'thrust',
 'thtir',
 'thu',
 'thud',
 'thug',
 'thumb',
 'thump',
 'thumper',
 'thunberg',
 'thunday',
 'thunder',
 'thunderstorm',
 'thuong',
 'thur',
 'thurgood',
 'thurmlay',
 'thurmond',
 'thurow',
 'thursday',
 'thursduy',
 'thuse',
 'thusli',
 'thust',
 'thuy',
 'thw',
 'thwart',
 'thwhat',
 'thyger',
 'thygerson',
 'ti',
 'tia',
 'tiaa',
 'tial',
 'tialli',
 'tiananmen',
 'tianjin',
 'tiax',
 'tibco',
 'tiber',
 'tibet',
 'tibetan',
 'tic',
 'tice',
 'ticeabl',
 'ticht',
 'tick',
 'ticker',
 'ticket',
 'ticonderoga',
 'tidal',
 'tidbit',
 'tide',
 'tidewat',
 'tidi',
 'tido',
 'tie',
 'tiemann',
 'tier',
 'tieup',
 'tiffani',
 'tifig',
 'tiger',
 'tight',
 'tighten',
 'tighter',
 'tightest',
 'tightfist',
 'tightli',
 'tightrop',
 'tihe',
 'tii',
 'tiiat',
 'tiie',
 'tiik',
 'tiip',
 'tij',
 'tijuana',
 'tike',
 'til',
 'tile',
 'tili',
 'tilin',
 'till',
 'tillag',
 'tiller',
 'tilli',
 'tilt',
 'tilth',
 'tim',
 'timat',
 'timber',
 'timberland',
 'timbuktu',
 'time',
 'timelin',
 'timeout',
 'timer',
 'timet',
 'timetim',
 'timid',
 'timidli',
 'timihc',
 'timirao',
 'timiraosgovern',
 'timken',
 'timmin',
 'timonium',
 'timothi',
 'timour',
 'tin',
 'tinder',
 'tinderbox',
 'ting',
 'tinghou',
 'tingo',
 'tini',
 'tiniest',
 'tinker',
 'tint',
 'tintl',
 'tinto',
 'tinu',
 'tioiial',
 'tion',
 'tional',
 'tionari',
 'tionship',
 'tionslfor',
 'tiont',
 'tiot',
 'tip',
 'tipnc',
 'tipoff',
 'tipp',
 'tipperari',
 'tipto',
 'tiquat',
 'tirad',
 'tire',
 'tireless',
 'tirelessli',
 'tiremak',
 'tirm',
 'tirst',
 'tirtauru',
 'tisch',
 'tise',
 'tisi',
 'tissu',
 'titan',
 'titanium',
 'titawhirlpool',
 'titeir',
 'tither',
 'titil',
 'titl',
 'titleist',
 'titter',
 'tittl',
 'titu',
 'tiu',
 'tiun',
 'tive',
 'tiviti',
 'tivo',
 'tivoli',
 'tizzi',
 'tj',
 'tjc',
 'tjere',
 'tjgbshad',
 'tjhi',
 'tjian',
 'tjiat',
 'tjie',
 'tjit',
 'tjjercent',
 'tjl',
 'tjniver',
 'tjr',
 'tjx',
 'tke',
 'tl',
 'tlay',
 'tlc',
 'tle',
 'tlffi',
 ...]

In [36]:
# news_df.loc[:,['text_vec']] = list(arr)
# news_df['text_vec'] = list(arr)
df1.loc[:,'text_vec'] = list(x)
df1

,headline,text,relevance,relevance_point,all_text,text_vec
0,Yields on CDs Fell in the Latest Week,NEW YORK -- Yields on most certificates of dep...,yes,1,yield on cd fell in the latest week new york y...,"(0, 20641)\t0.07394090476674314\n (0, 19377..."
1,The Morning Brief: White House Seeks to Limit ...,The Wall Street Journal Online</br></br>The Mo...,no,0,the morn brief white hou seek to limit child i...,"(0, 3712)\t0.03239979330468091\n (0, 20575)..."
2,Banking Bill Negotiators Set Compromise --- Pl...,WASHINGTON -- In an effort to achieve banking ...,no,0,bank bill negoti set compromi plan to widen ba...,"(0, 23492)\t0.10579133478067844\n (0, 2279)..."
3,Manager's Journal: Sniffing Out Drug Abusers I...,The statistics on the enormous costs of employ...,no,0,manag is journal snif out drug abu is no quick...,"(0, 7917)\t0.045658506640754416\n (0, 10998..."
4,Currency Trading: Dollar Remains in Tight Rang...,NEW YORK -- Indecision marked the dollar's ton...,yes,1,currenc trade dollar remain in tight rang amid...,"(0, 439)\t0.06953628279116467\n (0, 20246)\..."
...,...,...,...,...,...,...
7986,"Sawyer Sees Strong Economy For 2 Years, Truce ...",Secretary of Commerce Charles W. Sawyer said y...,yes,1,sawyer see strong economi for year truce or no...,"(0, 15989)\t0.14985359495006667\n (0, 17431..."
7987,Oil's losses are airlines' gains,"U.S. stocks inched up last week, overcoming co...",no,0,oil is loss are airlin gain u s stock inch up ...,"(0, 13209)\t0.18122215378536552\n (0, 4622)..."
7988,Full Senate to vote on Bernanke; PANEL ADVANCE...,Ben S. Bernanke cleared a key hurdle Thursday ...,no,0,full senat to vote on bernank panel advanc ren...,"(0, 20509)\t0.09173032273245135\n (0, 9085)..."
7989,Reinventing Opportunities,The White House's push to contract out many fe...,no,0,reinvent opportun the white hou is push to con...,"(0, 20870)\t0.13985809028838153\n (0, 17840..."
7990,Stocks Rise On News of Auto Output: Dow Climbs...,NEW YORK. April 17-Automobile stocks put on th...,no,0,stock rise on news of auto output dow climb po...,"(0, 10996)\t0.1812911365338504\n (0, 14246)..."

In [37]:
df1.shape

(7991, 6)

In [38]:
df2 = pd.DataFrame(x.toarray(), columns=vectorizer.get_feature_names())
df2

,aa,aaa,aacer,aadvantag,aagrf,aairl,aaliliwiu,aalrl,aalund,aam,...,zuckerberg,zugbi,zuhdi,zurich,zurnlnd,zweig,zweng,zynga,zyuganov,zz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7987,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7988,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7989,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [353]:
res = pd.concat([df1, df2], axis=1)
res

,headline,text,relevance,relevance_point,all_text,text_vec,aa,aaa,aacer,aadvantag,...,zuckerberg,zugbi,zuhdi,zurich,zurnlnd,zweig,zweng,zynga,zyuganov,zz
0,Yields on CDs Fell in the Latest Week,NEW YORK -- Yields on most certificates of dep...,yes,1,yield on cd fell in the latest week new york y...,"(0, 20858)\t0.07378648058956291\n (0, 19574...",0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,The Morning Brief: White House Seeks to Limit ...,The Wall Street Journal Online</br></br>The Mo...,no,0,the morn brief white hous seek to limit child ...,"(0, 3740)\t0.03234328180532909\n (0, 20792)...",0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Banking Bill Negotiators Set Compromise --- Pl...,WASHINGTON -- In an effort to achieve banking ...,no,0,bank bill negoti set compromis plan to widen b...,"(0, 23729)\t0.10567616246058857\n (0, 2297)...",0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Manager's Journal: Sniffing Out Drug Abusers I...,The statistics on the enormous costs of employ...,no,0,manag is journal snif out drug abus is no quic...,"(0, 8015)\t0.04509314607509409\n (0, 11128)...",0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Currency Trading: Dollar Remains in Tight Rang...,NEW YORK -- Indecision marked the dollar's ton...,yes,1,currenc trade dollar remain in tight rang amid...,"(0, 446)\t0.06936497434287496\n (0, 20456)\...",0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,"Sawyer Sees Strong Economy For 2 Years, Truce ...",Secretary of Commerce Charles W. Sawyer said y...,yes,1,sawyer see strong economi for year truce or no...,"(0, 16157)\t0.14985155337224884\n (0, 17608...",0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7987,Oil's losses are airlines' gains,"U.S. stocks inched up last week, overcoming co...",no,0,oil is loss are airlin gain u s stock inch up ...,"(0, 13362)\t0.18122206404538488\n (0, 4663)...",0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7988,Full Senate to vote on Bernanke; PANEL ADVANCE...,Ben S. Bernanke cleared a key hurdle Thursday ...,no,0,full senat to vote on bernank panel advanc ren...,"(0, 20724)\t0.0911975486236273\n (0, 9201)\...",0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7989,Reinventing Opportunities,The White House's push to contract out many fe...,no,0,reinvent opportun the white hous is push to co...,"(0, 21094)\t0.14050794101138642\n (0, 18019...",0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7990,Stocks Rise On News of Auto Output: Dow Climbs...,NEW YORK. April 17-Automobile stocks put on th...,no,0,stock rise on news of auto output dow climb po...,"(0, 11126)\t0.18120912013333154\n (0, 14404...",0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [90]:
res.describe() # don't run this, time-taking

,relevance_point,00,000,000100,000uo,000uoall,000uoi,000uoin,000uoth,000uoto,...,zugby,zuhdi,zurich,zurichuo,zurnlnd,zweig,zweng,zynga,zyuganov,zz
count,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,...,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,0.178063,0.000873,0.011232,0.000008,0.000030,0.000015,0.000018,0.000021,0.000017,0.000021,...,0.000017,0.000014,0.000174,0.000015,0.000008,0.000014,0.000027,0.000013,0.000012,0.000027
std,0.382221,0.009433,0.033578,0.000760,0.001902,0.001338,0.001566,0.001840,0.001521,0.001840,...,0.001501,0.001271,0.005461,0.001342,0.000677,0.001249,0.002408,0.001163,0.001060,0.002413
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,0.205453,0.397475,0.067952,0.137307,0.119630,0.140043,0.164556,0.136066,0.164556,...,0.134252,0.113668,0.239804,0.120033,0.060518,0.111700,0.215380,0.103989,0.094776,0.215798

In [354]:
# drop all colummns except term features and target col('relevance')
res.drop(['headline', 'text', 'relevance', 'all_text', 'text_vec'], axis=1, inplace=True)
res

,relevance_point,aa,aaa,aacer,aadvantag,aagrf,aairl,aaliliwiu,aalrl,aalund,...,zuckerberg,zugbi,zuhdi,zurich,zurnlnd,zweig,zweng,zynga,zyuganov,zz
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7987,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7988,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7989,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7990,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

-- ## Vectorize Headline

In [27]:
# vectorizer2 = TfidfVectorizer()
# x2 = vectorizer2.fit_transform(news_df['headline'])
# x2

In [28]:
# len(list(x2))

In [29]:
# vectorizer2.get_feature_names()

In [355]:
res

,relevance_point,aa,aaa,aacer,aadvantag,aagrf,aairl,aaliliwiu,aalrl,aalund,...,zuckerberg,zugbi,zuhdi,zurich,zurnlnd,zweig,zweng,zynga,zyuganov,zz
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7987,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7988,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7989,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7990,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
# news_df.loc[:,'headline_vec'] = x2

## feature-target split

In [356]:
target_df = res['relevance_point']
target_df

0       1
1       0
2       0
3       0
4       1
       ..
7986    1
7987    0
7988    0
7989    0
7990    0
Name: relevance_point, Length: 7991, dtype: int64

In [357]:
features_df = res.iloc[:,1:]
features_df

,aa,aaa,aacer,aadvantag,aagrf,aairl,aaliliwiu,aalrl,aalund,aam,...,zuckerberg,zugbi,zuhdi,zurich,zurnlnd,zweig,zweng,zynga,zyuganov,zz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7987,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7988,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7989,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# train-test split

In [358]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(features_df, target_df, test_size=0.3, random_state=42)

In [359]:
train_X.shape

(5593, 28375)

In [360]:
train_y.shape

(5593,)

In [361]:
test_X.shape

(2398, 28375)

In [362]:
test_y.shape

(2398,)

## Try different classifiers

In [363]:
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
#from sklearn.grid_search import GridSearchCV

classifiers = [
    GaussianNB(),
    DecisionTreeClassifier(min_samples_split=40),
    SVC(kernel="rbf"),
    AdaBoostClassifier(DecisionTreeClassifier(), algorithm="SAMME", n_estimators=200),
    RandomForestClassifier(max_depth=2, random_state=0),
    KNeighborsClassifier(n_neighbors=3),
   # GridSearchCV(SVC(), parameters)
]

In [374]:
import time

PERF_FORMAT_STRING = "\
\tAccuracy: {:>0.{display_precision}f}\tPrecision: {:>0.{display_precision}f}\t\
Recall: {:>0.{display_precision}f}\tF1: {:>0.{display_precision}f}\tF2: {:>0.{display_precision}f}"
RESULTS_FORMAT_STRING = "\tTotal predictions: {:4d}\tTrue positives: {:4d}\tFalse positives: {:4d}\
\tFalse negatives: {:4d}\tTrue negatives: {:4d}"
RUNTIME_FORMAT_STRING = "\tTime for fitting: {:4f}"

def test_classifier(clf, features_train, label_train, features_test, label_test):
    run_time = 0
    start = time.time()
    clf.fit(features_train, label_train)
    end = time.time()
    run_time = max(run_time, round(end-start,3))
    predictions = clf.predict(features_test)
    
    true_negatives = 0
    false_negatives = 0
    true_positives = 0
    false_positives = 0
    
    for prediction, truth in zip(predictions, label_test):
        if prediction == 0 and truth == 0:
            true_negatives += 1
        elif prediction == 0 and truth == 1:
            false_negatives += 1
        elif prediction == 1 and truth == 0:
            false_positives += 1
        elif prediction == 1 and truth == 1:
            true_positives += 1
        else:
            print("Warning: Found a predicted label not == 0 or 1.")
            print("All predictions should take value 0 or 1.")
            print("Evaluating performance for processed predictions:")
            break
    
    try:
        total_predictions = true_negatives + false_negatives + false_positives + true_positives
        accuracy = 1.0*(true_positives + true_negatives)/total_predictions
        precision = 1.0*true_positives/(true_positives+false_positives)
        recall = 1.0*true_positives/(true_positives+false_negatives)
        f1 = 2.0 * true_positives/(2*true_positives + false_positives+false_negatives)
        f2 = (1+2.0*2.0) * precision*recall/(4*precision + recall)
        
        print(clf)
        print(RUNTIME_FORMAT_STRING.format(run_time))
        print(PERF_FORMAT_STRING.format(accuracy, precision, recall, f1, f2, display_precision = 5))
        print(RESULTS_FORMAT_STRING.format(total_predictions, true_positives, false_positives, false_negatives, true_negatives))
        print("")
    except:
        print("Got a divide by zero when trying out:", clf)
        print("Precision or recall may be undefined due to a lack of true positive predicitons.")

### gaussian naive bayes

In [375]:
clf = GaussianNB()
# clf.fit(train_X, train_y)

In [376]:
test_classifier(clf, train_X, train_y, test_X, test_y)

GaussianNB(priors=None, var_smoothing=1e-09)
	Time for fitting: 5.998000
	Accuracy: 0.76689	Precision: 0.31611	Recall: 0.23744	F1: 0.27119	F2: 0.24988
	Total predictions: 2398	True positives:  104	False positives:  225	False negatives:  334	True negatives: 1735

In [ ]:
for clf in classifiers:
    test_classifier(clf, train_X, train_y, test_X, test_y)
    print("=========================================================================================================")

GaussianNB(priors=None, var_smoothing=1e-09)
	Time for fitting: 6.602000
	Accuracy: 0.76689	Precision: 0.31611	Recall: 0.23744	F1: 0.27119	F2: 0.24988
	Total predictions: 2398	True positives:  104	False positives:  225	False negatives:  334	True negatives: 1735

=========================================================================================================
DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=40,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')
	Time for fitting: 40.234000
	Accuracy: 0.74479	Precision: 0.29767	Recall: 0.29224	F1: 0.29493	F2: 0.29331
	Total predictions: 2398	True positives:  128	False positives:  302	False negatives:  310	True negatives: 1658

=========================================================================================================

C:\Users\amita_shukla\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

Got a divide by zero when trying out: SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)
Precision or recall may be undefined due to a lack of true positive predicitons.
=========================================================================================================